@media screen and (min-width: 513px) {
    
    header {
        display: grid;
        grid-template-columns: 7fr 3fr;
    }

    header h2 {
        max-width: 100%;
    }

    header h2:before {
        content: "Fredericksburg Video Game Tournament"
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav a {
        margin: auto;
    }

    footer {
        flex-direction: row;
        align-items: center;
    }
}