* {
    font-family: 'Audiowide', sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
.hfont {
    font-family: 'Press Start 2P', serif;
}

h1 {
    margin: 0 0 1rem 1rem;
    color: var(--cool-accent);
}

h2 {
    border-radius: 1rem;
    background-color: var(--text-window);
    padding: 1rem;
    color: var(--warm-accent);
}

a {
    color: var(--cool-accent);
}

a:visited {
    color: var(--purple-accent);
}

a:hover,
a.here:hover,
a:visited:hover,
a.here:visited:hover {
    color: var(--warm-accent);
}

body {
    background-color: var(--backg-color);
}

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--warm-accent);
    border-radius: 0 0 1rem 1rem;
    background-color: var(--foreg-color);
    padding: 1rem;
    z-index: 1;
}

header h2 {
    width: fit-content;
    max-width: 70%;
    border-radius: 1rem;
    background-color: var(--text-window);
    padding: 1rem;
}

header h2:before {
    content: "F'burg VG Tourney";
    color: var(--warm-accent);
}

#menu {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--text-window);
    font-size: 2rem;
}

#menu:hover {
    background-color: var(--purple-accent);
}

#menu:before {
    content: "\2261";
}

#menu.open:before {
    content: "\2A2F";
}

nav {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav.open {
    display: flex;
}

nav a {
    margin: 1rem auto;
    border-radius: 1rem;
    background-color: var(--text-window);
    padding: .5rem 1rem;
    text-decoration: none;
}

nav a:visited {
    color: var(--cool-accent);
}

nav a.here,
nav a.here:visited {
    color: var(--purple-accent);
}

main {
    position: relative;
    padding: 1rem;
}

#colorButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--backg-color);
    border-radius: 1rem;
    background-color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--backg-color);
}

#colorButton:hover {
    background-color: var(--purple-accent);
}

.card {
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    background-color: var(--foreg-color);
    padding: 1rem;
}

.card h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.card > p {
    border-radius: 1rem;
    background-color: var(--text-window);
    padding: 1rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    border-top: 1px solid var(--cool-accent);
    border-radius: 1rem 1rem 0 0;
    background-color: var(--foreg-color);
    padding: .1px;
}

footer div {
    width: fit-content;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--text-window);
    padding: 1rem;
}

footer img {
    width: 3rem;
    aspect-ratio: 1 / 1;
}