:root {
    --backg-color: #676f74;
    --foreg-color: #353935;
    --text-color: #F2F2F2;
    --text-window: #353935;
    --cool-accent: #50F878;
    --warm-accent: #FFEA00;
    --purple-accent: #D6D6EA;
}

#colorButton:before {
    content: "\2600";
}