#hero {
    background-color: var(--backg-color);
}

#hero img {
    width: 100%;
    max-width: 1920px;
    aspect-ratio: 512 / 288;
    margin: -1rem 0 0;
    border-radius: 0;
}

#deck {
    display: grid;
    grid-template-areas: 
    "welcome"
    "feature"
    "signup";
    row-gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--text-window);
    padding: 1rem;
}

label {
    max-width: 24rem;
    margin-bottom: 1rem;
}

button[type="submit"] {
    width: 50%;
    max-width: 12rem;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background-color: var(--warm-accent);
}

#welcome {
    grid-area: welcome;
}

#signup {
    grid-area: signup;
}

#feature {
    grid-area: feature;
}

#spotlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.game {
    grid-template-areas:
    "art"
    "title"
    "pub"
    "next";
    text-align: center;
}

.game img {
    grid-area: art;
    margin: auto;
}

.game h3 {
    grid-area: title;
}

.game .pub {
    grid-area: pub;
}

.game .next {
    grid-area: next;
}

@media screen and (min-width: 513px) {

    #hero img {
        aspect-ratio: 1024 / 415;
    }
}

@media screen and (min-width: 1025px) {

    #hero img {
        aspect-ratio: 1920 / 608;
    }

    #deck {
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
        "welcome feature"
        "signup feature";
        column-gap: 1rem;
    }

    #spotlight {
        grid-template-columns: 1fr;
    }

    .game {
        grid-template-areas:
        "title art"
        "pub art"
        "next art";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        column-gap: 1rem;
    }

    .game img {
        width: 180px;
    }

    .game h3,
    .game p {
        margin: auto 0;
    }
}