:root {
    --backg-color: #F2F2F2;
    --foreg-color: #676f74;
    --text-color: #353935;
    --text-window: #F2F2F2;
    --cool-accent: #0000D6;
    --warm-accent: #D60000;
    --purple-accent: #776399;
}

#colorButton:before {
    content: "\263E";
}